pandas层次化索引

In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [3]:
# from_product 最简单
s = Series(np.random.randint(0,150,size=6),index=pd.MultiIndex.from_product([['A','B','C'],['期中','期末']]))
s

A  期中    145
   期末     48
B  期中     49
   期末    114
C  期中     58
   期末     73
dtype: int32

In [4]:
s = Series(np.random.randint(0,150,size=6),
           index=pd.MultiIndex.from_arrays([['A','A','B','B','C','C'],['期中','期末','期中','期末','期中','期末']]))
s

A  期中    139
   期末    134
B  期中    126
   期末     88
C  期中    123
   期末     74
dtype: int32

In [10]:
#工作中一般用到两层
df = DataFrame(np.random.randint(0,150,size=(10,3)),columns=['Python','Math','En'],
          index=pd.MultiIndex.from_product([list('ABCDE'),['期中','期末']]))
df

      Python  Math   En
A 期中     137     6   80
  期末     105   148    2
B 期中     103   105   51
  期末      26   113  105
C 期中      76    68   72
  期末      21    61   86
D 期中     113    62  141
  期末      45    79    1
E 期中      36    64    0
  期末       6    90    1

In [11]:
df = DataFrame(np.random.randint(0,150,size=(20,3)),columns=['Python','Math','En'],
          index=pd.MultiIndex.from_product([list('ABCDE'),['期中','期末'],['模拟一','模拟二']]))
df

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
B 期中 模拟一      13    23   17
     模拟二     146    48   76
  期末 模拟一     142    68    8
     模拟二      53    63  144
C 期中 模拟一      34     0  130
     模拟二       3    71  103
  期末 模拟一     146    84  109
     模拟二       7    66  111
D 期中 模拟一     116   112   19
     模拟二     131   142   86
  期末 模拟一      92    30   98
     模拟二      27   111   48
E 期中 模拟一     103    91   68
     模拟二      81    78  133
  期末 模拟一     130   145   10
     模拟二      11   121  117

In [14]:
#列多层
df2=DataFrame(np.random.randint(0,150,size=(5,6)),
              columns=pd.MultiIndex.from_product([['Python','Math','En'],['期中','期末']]),
              index=list('ABCDE'))
df2

  Python      Math        En
      期中   期末   期中   期末   期中   期末
A    124   89  126   43  138  122
B     23   39    5   31   44  121
C     34  139   67   28   13   61
D    117   13   87   39  123   28
E    136  107  113  122  149   29

索引与切片

In [15]:
df

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
B 期中 模拟一      13    23   17
     模拟二     146    48   76
  期末 模拟一     142    68    8
     模拟二      53    63  144
C 期中 模拟一      34     0  130
     模拟二       3    71  103
  期末 模拟一     146    84  109
     模拟二       7    66  111
D 期中 模拟一     116   112   19
     模拟二     131   142   86
  期末 模拟一      92    30   98
     模拟二      27   111   48
E 期中 模拟一     103    91   68
     模拟二      81    78  133
  期末 模拟一     130   145   10
     模拟二      11   121  117

In [16]:
# 返回的数据是Series
df['Python']

A  期中  模拟一     24
       模拟二     16
   期末  模拟一      7
       模拟二     69
B  期中  模拟一     13
       模拟二    146
   期末  模拟一    142
       模拟二     53
C  期中  模拟一     34
       模拟二      3
   期末  模拟一    146
       模拟二      7
D  期中  模拟一    116
       模拟二    131
   期末  模拟一     92
       模拟二     27
E  期中  模拟一    103
       模拟二     81
   期末  模拟一    130
       模拟二     11
Name: Python, dtype: int32

In [17]:
df.Python

A  期中  模拟一     24
       模拟二     16
   期末  模拟一      7
       模拟二     69
B  期中  模拟一     13
       模拟二    146
   期末  模拟一    142
       模拟二     53
C  期中  模拟一     34
       模拟二      3
   期末  模拟一    146
       模拟二      7
D  期中  模拟一    116
       模拟二    131
   期末  模拟一     92
       模拟二     27
E  期中  模拟一    103
       模拟二     81
   期末  模拟一    130
       模拟二     11
Name: Python, dtype: int32

In [18]:
df.loc['A']

        Python  Math   En
期中 模拟一      24    97  140
   模拟二      16     0   57
期末 模拟一       7   146    8
   模拟二      69   122   79

In [20]:
# 注意双中括号
df.loc[['A','D']]

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
D 期中 模拟一     116   112   19
     模拟二     131   142   86
  期末 模拟一      92    30   98
     模拟二      27   111   48

In [21]:
# 第一行
df.iloc[0]

Python     24
Math       97
En        140
Name: (A, 期中, 模拟一), dtype: int32

In [22]:
df['A':'C']

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
B 期中 模拟一      13    23   17
     模拟二     146    48   76
  期末 模拟一     142    68    8
     模拟二      53    63  144
C 期中 模拟一      34     0  130
     模拟二       3    71  103
  期末 模拟一     146    84  109
     模拟二       7    66  111

In [23]:
df.loc['A':'B']

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
B 期中 模拟一      13    23   17
     模拟二     146    48   76
  期末 模拟一     142    68    8
     模拟二      53    63  144

In [24]:
df.iloc[0:3]

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8

In [25]:
df.loc['A','期中','模拟二']

Python    16
Math       0
En        57
Name: (A, 期中, 模拟二), dtype: int32

In [27]:
df.loc['A','期中','模拟二']['Python']

16

聚合操作

In [29]:
df

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
B 期中 模拟一      13    23   17
     模拟二     146    48   76
  期末 模拟一     142    68    8
     模拟二      53    63  144
C 期中 模拟一      34     0  130
     模拟二       3    71  103
  期末 模拟一     146    84  109
     模拟二       7    66  111
D 期中 模拟一     116   112   19
     模拟二     131   142   86
  期末 模拟一      92    30   98
     模拟二      27   111   48
E 期中 模拟一     103    91   68
     模拟二      81    78  133
  期末 模拟一     130   145   10
     模拟二      11   121  117

In [28]:
df.mean()

Python    67.55
Math      80.90
En        78.05
dtype: float64

In [30]:
#level ：层
df.mean(axis=0,level=0)

   Python    Math      En
A   29.00   91.25   71.00
B   88.50   50.50   61.25
C   47.50   55.25  113.25
D   91.50   98.75   62.75
E   81.25  108.75   82.00

In [31]:
df.mean(axis=0,level=1)

    Python  Math    En
期中    66.7  66.2  82.9
期末    68.4  95.6  73.2

In [32]:
df.mean(axis=0,level=2)

     Python  Math    En
模拟一    80.7  79.6  60.7
模拟二    54.4  82.2  95.4

索引的堆（stack）

In [34]:
df2

  Python      Math        En
      期中   期末   期中   期末   期中   期末
A    124   89  126   43  138  122
B     23   39    5   31   44  121
C     34  139   67   28   13   61
D    117   13   87   39  123   28
E    136  107  113  122  149   29

In [35]:
# 列变行，默认level=-1，最后一层级的列转换成最后一层级的行
df2.stack()

       En  Math  Python
A 期中  138   126     124
  期末  122    43      89
B 期中   44     5      23
  期末  121    31      39
C 期中   13    67      34
  期末   61    28     139
D 期中  123    87     117
  期末   28    39      13
E 期中  149   113     136
  期末   29   122     107

In [36]:
df2.stack(level=0)

           期中   期末
A En      138  122
  Math    126   43
  Python  124   89
B En       44  121
  Math      5   31
  Python   23   39
C En       13   61
  Math     67   28
  Python   34  139
D En      123   28
  Math     87   39
  Python  117   13
E En      149   29
  Math    113  122
  Python  136  107

In [33]:
# 行变成列，level默认值-1
df.unstack()

     Python      Math        En
        模拟一  模拟二  模拟一  模拟二  模拟一  模拟二
A 期中     24   16   97    0  140   57
  期末      7   69  146  122    8   79
B 期中     13  146   23   48   17   76
  期末    142   53   68   63    8  144
C 期中     34    3    0   71  130  103
  期末    146    7   84   66  109  111
D 期中    116  131  112  142   19   86
  期末     92   27   30  111   98   48
E 期中    103   81   91   78   68  133
  期末    130   11  145  121   10  117

In [37]:
df

          Python  Math   En
A 期中 模拟一      24    97  140
     模拟二      16     0   57
  期末 模拟一       7   146    8
     模拟二      69   122   79
B 期中 模拟一      13    23   17
     模拟二     146    48   76
  期末 模拟一     142    68    8
     模拟二      53    63  144
C 期中 模拟一      34     0  130
     模拟二       3    71  103
  期末 模拟一     146    84  109
     模拟二       7    66  111
D 期中 模拟一     116   112   19
     模拟二     131   142   86
  期末 模拟一      92    30   98
     模拟二      27   111   48
E 期中 模拟一     103    91   68
     模拟二      81    78  133
  期末 模拟一     130   145   10
     模拟二      11   121  117

In [39]:
df.unstack(level=[0,1])

    Python                                            ...   En               \
         A        B        C         D        E       ...    A       B
        期中  期末   期中   期末  期中   期末   期中  期末   期中   期末  ...   期中  期末  期中   期末
模拟一     24   7   13  142  34  146  116  92  103  130  ...  140   8  17    8
模拟二     16  69  146   53   3    7  131  27   81   11  ...   57  79  76  144


       C        D        E
      期中   期末  期中  期末   期中   期末
模拟一  130  109  19  98   68   10
模拟二  103  111  86  48  133  117

[2 rows x 30 columns]

In [41]:
# s是Series
s=df['Python']
s

A  期中  模拟一     24
       模拟二     16
   期末  模拟一      7
       模拟二     69
B  期中  模拟一     13
       模拟二    146
   期末  模拟一    142
       模拟二     53
C  期中  模拟一     34
       模拟二      3
   期末  模拟一    146
       模拟二      7
D  期中  模拟一    116
       模拟二    131
   期末  模拟一     92
       模拟二     27
E  期中  模拟一    103
       模拟二     81
   期末  模拟一    130
       模拟二     11
Name: Python, dtype: int32

In [42]:
s.unstack()

      模拟一  模拟二
A 期中   24   16
  期末    7   69
B 期中   13  146
  期末  142   53
C 期中   34    3
  期末  146    7
D 期中  116  131
  期末   92   27
E 期中  103   81
  期末  130   11